.library-name--link {
    position: relative;
    --logo-width: 75px;
    margin-left: calc(var(--logo-width) + 5px);
}

.library-name--link::before {
    content: '';
    background: url("../images/pexip.svg") center no-repeat;
    background-size: auto;
    position: absolute;
    width: var(--logo-width);
    height: 100%;
    top: 0;
    left: calc(-1 * var(--logo-width) - 5px);
}
